.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-wrap {
  max-width: 1100px;
}
.page-card {
}
.loading-wrap {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.full-table {
  width: 100%;
}
