.dialog-content {
  display: grid;
  gap: 16px;
  min-width: 360px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row app-form-input {
  flex: 1;
}

.form-row .uf-field {
  flex: 0 0 80px;
}

.form-row-cep {
  display: flex;
  justify-content: flex-start;
}
