.dialog-content {
  display: grid;
  gap: 16px;
  min-width: 360px;
}

.full-width {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row mat-form-field {
  flex: 1;
}

.form-row-cep {
  display: flex;
  justify-content: flex-start;
}
