<table mat-table [dataSource]="installments()" class="mat-elevation-z1">
  <ng-container matColumnDef="parcela">
    <th mat-header-cell *matHeaderCellDef>Parcela</th>
    <td mat-cell *matCellDef="let e">{{ e.parcela }}</td>
  </ng-container>

  <ng-container matColumnDef="vencimento">
    <th mat-header-cell *matHeaderCellDef>Vencimento</th>
    <td mat-cell *matCellDef="let e">{{ e.vencimento }}</td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let e">{{ e.valor | number: '1.2-2' }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let e">{{ e.status || 'Aberta' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
