.form-row {
  display: flex;
  gap: 16px;
}

.form-row app-form-input {
  flex: 1;
}

.form-row .uf-field {
  flex: 0 0 80px;
}

.form-row-cep, .form-row-cnpj {
  display: flex;
  justify-content: flex-start;
}

.dialog-content {
  padding-top: 20px;
}
